
<div class="container body-content" style="border:1px solid black;">
    <div class="profile-area" >
        <div class="img-part">
        </div>
        <div clas="info-part">
            <h3>
                Nprofessional-detailsame of the Doctor
            </h3>
            <h4>
                Gender:
            </h4>
            <h4>
                Year of Qualification:
            </h4>
                <input type="button" value="Edit" class="btn btn-primary" id="editProfile"/>
        </div>
    </div>
    <div class="professional-details">
        <h4>
            Qualification of Doctor:
        </h4>
        <div class="btn-edit">
            <input type="button" value="Edit" class="btn btn-primary" id="editQualification" style="width:5em;" />
        </div>
    </div>
    <div class="professional-details" style="border:1px solid black;width:100%;height:5em;padding :10px;">
        <h4>
            Specialization of Doctor:
        </h4>
        <div class="btn-edit">
            <input type="button" value="Edit" class="btn btn-primary" id="editSpecialization" style="width:5em;" />
        </div>
    </div>
    <div class="professional-details" style="border:1px solid black;width:100%;height:5em;padding :10px;">
        <h4>
            Consultation Fee of Doctor:
        </h4>
        <div class="btn-edit">
            <input type="button" value="Edit" class="btn btn-primary" id="editCharge" style="width:5em;" />
        </div>
    </div>
</div>
